.website {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: #CADBC0;
}

.website_header {
  background-color: #2F0A28;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid #CADBC0;
  color: #CADBC0;
  box-shadow: 0px 1px 1px #CADBC0;
}

.website_header--list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
  font-size: 2.2em;
}

.website_header--list > li {
  padding-right: 20px;
  padding-right: 20px;
}

.website_introduction {
  background-image: url('img/nathanDumlao.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*Photo by Nathan Dumlao on Unsplash*/
}

.website_introduction--button {
  height: 100px;
  width: 160px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #2F0A28;
  font-family: 'Amatic SC', cursive;
  background-color: #2F0A28;
  color: #CADBC0;
  font-size: 1em;
}

.website_about {
  display: flex;
  padding: 20px;
}

.website_about > span {

}

.website_about > p {
  text-align: justify;
}

.website_about--image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.website_about--image::before {
  content: '';
}

.website_service {
  display: flex;
}

.website_service > img {

}

.website_reviews {
 display: flex;
}

.website_reviews > img {
  border-radius: 100px;
}

.website_contact {
  display: flex;
}

.website_contact--map {
  width: 100%;
  border-style: none;
}

@media (min-width: 10px) and (max-width: 480px) {

.website_header {
  display: none;
}

.website_introduction {
  height: 400px;
  font-size: 1.5em;
}

.website_about {
 height: 830px;
 flex-direction: column;
}

.website_about > span {
  font-size: 2.5em;
}

.website_about > p {
  font-size: 1.1em;
}

.website_about--image {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.website_service {
  height: 600px;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 1.2em;
}

.website_service > img {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.website_reviews {
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  font-size: 1.5em;
  padding: 20px;
  text-align: justify;
}

.website_reviews > img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.website_contact--map {
  height: 300px;
}

.website_contact {
  flex-direction: column;
  height: 500px;
}

.website_contact > img {
  height: 40px;
  width: 40px;
}

.website_contact > a img {
  height: 40px;
  width: 40px;
}
}

@media (min-width: 481px) and (max-width: 650px) {

.website_header {
  display: none;
}

.website_introduction {
  height: 600px;
  font-size: 1.5em;
}

.website_about--image {
  height: 300px;
  width: 300px;
}

.website_contact--map {
  height: 350px;
}
}

@media (min-width: 651px) and (max-width: 1204px) {

.website_introduction {
  height: 700px;
  font-size: 2em;
}

.website_about--image {
  height: 450px;
  width: 450px;
}

.website_contact--map {
  height: 350px;
}
}

@media (min-width: 1205px) and (max-width: 3000px) {

.website_introduction {
  height: 800px;
  font-size: 2em;
}

.website_about--image {
  height: 600px;
  width: 600px;
}

.website_contact--map {
  height: 450px;
}
}